html, body,figure{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none; margin: 0; padding: 0;
}

aside{
    position: fixed; 
    left: 3%;top: 50%;
    transform: translateY(-50%);
    a{
        display: block;
        width: 7px;height: 7px; 
        border-radius: 100%;
        background-color: #000;
        margin: 20px 0; 
    }
    a.active{background-color: #f00;}
}