body {
  margin: 0;
  font-size: 14px;
  color: #555;
  list-style: none;
}

body .full {
  width: 50%;
  margin: 20px auto 100px;
  border: 2px solid #dedede;
}

body .full .donation_top {
  position: relative;
  margin: 0 auto;
  width: 964px;
  height: 280px;
}

body .full .second {
  margin: 0;
  padding: 20px 0;
}

body .full .second img {
  border: 1px solid #dedede;
  -webkit-transform: translate(5%, -20%);
          transform: translate(5%, -20%);
}

body .full .table {
  padding: 0 5%;
  width: 70%;
  margin: 0 auto 50px;
  font-weight: bold;
}

body .full .table h2 {
  margin: 0;
  font-size: 1rem;
  color: #000;
  padding: 15px 0;
  border-bottom: 2px solid #000;
}

body .full .table h2 img {
  width: 13px;
  -webkit-transform: translate(5%, 10%);
          transform: translate(5%, 10%);
}

body .full .table li {
  vertical-align: middle;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dedede;
}

body .full .table li label {
  text-align: left;
  width: 23%;
  height: 5%;
  font-size: 0.85rem;
  color: #000;
}

body .full .table .gr {
  margin: 0;
}

body .full .table .gr label {
  margin: 0;
}

body .full .table .gr span {
  margin-right: 5%;
}

body .full .table .per1 {
  margin: 0;
}

body .full .table .per1 input {
  height: 22px;
  width: 218px;
  border: 1px solid #c0c0c0;
}

body .full .table .per2 {
  margin: 0;
}

body .full .table .per2 input {
  height: 22px;
  width: 140px;
  border: 1px solid #c0c0c0;
}

body .full .table .per2 button {
  margin: 0 1%;
  border: 1px solid #c0c0c0;
  color: #4a4a4a;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

body .full .table .per2 .help {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  padding-top: 3px;
}

body .full .table .per2 .help p {
  background: url("../img/support_4/bg_balloon.png") no-repeat 0 0;
  color: #4a4a4a;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  top: -105px;
  right: -170px;
  padding-top: 15px;
  padding-left: 10px;
  height: 77px;
  width: 351px;
  z-index: 100;
}

body .full .table .per2 .help p span {
  color: #00adee;
}

body .full .table .per3 {
  margin: 0;
  color: #777;
}

body .full .table .per3 span {
  margin: 0;
  font-size: 0.7rem;
  color: #797979;
}

body .full .table .per3 .newsCheck select {
  border: 1px solid #c0c0c0;
  margin: 0;
  width: 80px;
  height: 23px;
  color: #777;
}

body .full .table .per4 input {
  height: 22px;
  width: 65px;
  border: 1px solid #c0c0c0;
}

body .full .table .per5 {
  color: #777;
}

body .full .table .per5 input {
  height: 22px;
  width: 140px;
  border: 1px solid #c0c0c0;
}

body .full .table .per6 input {
  height: 22px;
  border: 1px solid #c0c0c0;
}

body .full .table .per6 a input {
  border: 1px solid #c0c0c0;
  color: #4a4a4a;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

body .full .table .per7 select {
  color: #777;
  height: 23px;
  line-height: 23px;
  padding-left: 5px;
  vertical-align: middle;
  border: 1px solid #c0c0c0;
}

body .full .table .agreement {
  margin: 5% 0 0 0;
  padding: 0;
  display: block;
}

body .full .table .agreement label {
  margin: 0;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 23%;
  height: 5%;
  font-size: 0.85rem;
  color: #000;
}

body .full .table .agreement li {
  margin: 0;
  border: none;
  padding: 10px 50px 0 150px;
  width: 80%;
}

body .full .table .agreement li label {
  color: #3a3a3a;
}

body .full .table .agreement li span {
  padding-right: 6%;
}

body .full .table .agreement li fieldset {
  width: 470px;
  font-size: 12px;
  margin: 10px 0 0;
  padding: 10px 0px 10px 18px;
  font-weight: lighter;
  border: 1px solid #c0c0c0;
}

body .full .yes {
  width: 70%;
  margin: 0 auto 50px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding-top: 3%;
  font-weight: bold;
  color: #000;
}

body .full .yes legend {
  margin-bottom: 5%;
}

body .full .yes ul {
  list-style-type: none;
  padding: 0;
}

body .full .yes ul li {
  border: 1px solid #888;
  padding: 20px;
  position: relative;
}

body .full .yes ul li .sp1 {
  padding-left: 59.46%;
  cursor: pointer;
}

body .full .yes ul li .sp2 {
  padding-left: 50%;
  cursor: pointer;
}

body .full .yes ul li div {
  margin: 2% 1%;
  height: 150px;
  padding: 20px;
  background-color: #ceeef8;
  font-weight: lighter;
  overflow-y: scroll;
  display: none;
}

body .full .last_button {
  overflow: hidden;
  text-align: right;
  padding: 10px;
  margin: 0;
  padding: 1% 15% 8%;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
}

body .full .last_button #save1 {
  background-color: #00aeef;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #009fda;
  line-height: 38px;
  text-align: center;
  height: 38px;
  width: 78px;
  text-decoration: none;
}

body .full .last_button #save2 {
  background-color: #fff;
  color: #4a4a4a;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #c0c0c0;
  line-height: 38px;
  text-align: center;
  height: 38px;
  width: 78px;
  text-decoration: none;
}

body footer {
  background-color: #f1efef;
  margin: 0;
  padding: 2% 10%;
  text-align: center;
}

body footer .info .menu {
  padding: 0 0 15px 0;
}

body footer .info .menu a {
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  color: #555;
  font-size: 0.9rem;
}
/*# sourceMappingURL=support_4.css.map */