body{ 
    margin: 0; 
    font-size: 14px;
    color: #555;
    list-style: none;

    .full{ 
        width:50%; 
        margin: 20px auto 100px;
        border: 2px solid #dedede;
    }
        .last_button #save1, #save2{
            margin: 3% 5px 10%;
            position: relative;
            left: 75%;
            line-height: 38px;
            text-align: center;
            height: 38px;
            width: 80px;
            border: 1px solid #888;
            font-weight: bold;
        }
        .last_button #save1:nth-of-type(1){
            background-color: #00aeef;
            color: #fff;
        }
        .last_button #save2:nth-of-type(2){
            background-color: #fff;
            color: #888;
        }
            .donation_top{
                position: relative;
                margin: 0 auto;
                width: 964px;
                height: 280px;
            }
            .second{
                margin: 0;
                padding: 20px 0;
            }
                .second img{
                    border: 1px solid #dedede;
                    transform: translate( 5%, -20%);
                }
                /* .second p{
                    padding: 15px 0;
                    font-weight: bold;
                    border-bottom: 2px solid #000;
                }
                    .second p img{ 
                        width: 13px;
                        transform: translate(20%, 10%);
                        border:none;
                    } */
            .table{
                padding: 0 5%;
                width:70%; 
                margin:0 auto 50px;
                font-weight: bold;
            }
                .table h2 {
                    font-size: 1rem;
                    color: #000;
                    padding: 15px 0;
                    border-bottom: 2px solid #000;
                }
                    .table h2 img{
                        width: 13px;
                        transform: translate(5%, 10%);
                    }
                .table li {
                    width: 100%;
                    margin: 20px 0;
                    display:flex;
                    justify-content: space-between;
                }
                    .table li p{
                        min-width:45%;
                        margin: 15px 0;
                    }
                    .table li label{
                        text-align: left;
                        width:30%;
                        font-size: 0.85rem;
                        color: #000;
                    }
                    .table li .checked{
                        display: block;
                        margin: 0;
                        width: 20%;
                        height: 15px;
                    }
                    .table li input{
                        float: left;
                        margin: 0;
                        width:30%;
                        height: 25px;
                    }
            .agreement{
                margin: 0;
                display:block;
            }
                .agreement label{
                    position: relative;
                    text-align: left;
                    width:50%;
                    font-size: 1rem;
                    margin: 0;
                }
                .agreement li{
                    padding: 10px 50px 0 150px;
                    float: right;
                    width: 70%;
                    transform: translate(5%, 0);
                }
                .agreement li label{
                    width:100%;
                    height: 15px;
                    }
                .agreement li input{
                    margin: 10%;
                    width:50%;
                    height: 15px;
                }
            .minibox{
                width: 100%;
                padding: 3%;
            }
                







    .yes{width: 70%; margin: 50px auto;
        ul{
            list-style-type: none;
            padding: 0;
            li{
                border: 1px solid #888;
                padding: 20px;
                position: relative;
                ::after{
                    content: '';
                    background: url('./img/support_4/see.png');
                    width: 90px; height: 15px;
                    position: absolute;
                    right: 50px; top:40%;
                    cursor: pointer;
                }
                div{
                    margin: 2% 1%;
                    height: 150px;
                    padding: 20px;
                    background-color: blanchedalmond;
                    overflow-y: scroll;
                    display: none;
                }
            }
        }
    }




}